image:
  repository: 201009178507.dkr.ecr.us-west-2.amazonaws.com/al-co-epc-k8s-spring-boot-demo
  tag: stg-60cbb90
  pullPolicy: IfNotPresent

nameOverride: "rollouts-it"
fullnameOverride: "rollouts-it"

labels:
  app: rollouts-it
  service: rollouts-it

deployment:
  canary:
    steps:
      - setWeight: 25
      - pause: {}
      - setWeight: 60
      - pause: {}
      - setWeight: 100

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx-internal
  paths: ["/*"]
  hosts:
    - al-co-epc-k8s-spring-boot-demo.nubestaging.com
  tls: [ ]
