version: 2.1

orbs:
  orb-tools: circleci/orb-tools@8.9.0

workflows:
  btd:
    jobs:
      - orb-tools/lint:
          name: lint
      - orb-tools/pack:
          name: pack
          requires:
            - lint
      - orb-tools/publish-dev:
          name: publish-dev
          orb-name: tiendanube/eks
          context: orbs
          requires:
            - pack
      - promote-production:
          type: approval
          requires:
            - publish-dev
          filters:
            branches:
              only:
                - master
      - orb-tools/dev-promote-prod:
          name: dev-promote-major
          orb-name: tiendanube/eks
          release: major
          filters:
            branches:
              only:
                - master
          requires:
            - promote-production
